/* <!-- section-about --> */
@media screen {
  .section-about {
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      image-set(
        url('../img/webp/feature/feature-mob.webp') type('image/webp') 1x,
        url('../img/webp/feature/feature-mob@2x.webp') type('image/webp') 2x,
        url('../img/jpg/feature/feature-mob.jpg') type('image/jpeg') 1x,
        url('../img/jpg/feature/feature-mob@2x.jpg') type('image/jpeg') 2x
      );
    background-size: cover;
    background-repeat: no-repeat;
    width: 320px;
    height: 348px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
  }
  .about-label {
    margin-bottom: 12px;
    font: var(--heading-desktop-tagline);
    text-align: center;
  }
  .about-title {
    letter-spacing: 0.01em;
    text-align: center;
    font: var(--heading-mobile-h2);
    margin-bottom: 20px;
  }
  .about-text {
    text-align: center;
    font: var(--text-regular-normal);
  }
}
@media screen and (min-width: 768px) {
  .section-about {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      image-set(
        url('../img/webp/feature/feature-tab.webp') type('image/webp') 1x,
        url('../img/webp/feature/feature-tab@2x.webp') type('image/webp') 2x,
        url('../img/jpg/feature/feature-tab.jpg') type('image/jpeg') 1x,
        url('../img/jpg/feature/feature-tab@2x.jpg') type('image/jpeg') 2x
      );
    width: 768px;
    height: 325px;
  }

  .about-label {
    margin-bottom: 16px;
  }
  .about-title {
    margin-bottom: 24px;
  }
  .about-text {
    font: var(--text-medium-normal);
    width: 573px;
  }
}
@media screen and (min-width: 1440px) {
  .section-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      image-set(
        url('../img/webp/feature/feature-pc.webp') type('image/webp') 1x,
        url('../img/webp/feature/feature-pc@2x.webp') type('image/webp') 2x,
        url('../img/jpg/feature/feature-pc.jpg') type('image/jpeg') 1x,
        url('../img/jpg/feature/feature-pc@2x.jpg') type('image/jpeg') 2x
      );
    width: 1440px;
    height: 462px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .about-title {
    font: var(--heading-desktop-h1);
    width: 629px;
    margin-bottom: 24px;
  }
}
/* <!-- section-about --> */
