/* <!-- section-header --> */
@media screen {
  .section-header {
    background-color: var(--color-scheme-2-background);
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-menu-list {
    display: none;
  }

  .header-contacts {
    display: none;
  }

  .mobaile-menu__open-button {
    line-height: 0;
  }
  .mobile-menu__open-icon {
    fill: var(--color-scheme-2-text);
    width: 24px;
    height: 24px;
  }
  .header-contacts-item:hover,
  .header-contacts-item:focus,
  .header-menu-item:hover,
  .header-menu-item:focus {
    opacity: 0.6;
    color: var(--color-emerald-darkest);
  }
  .header-contacts-item:active,
  .header-menu-item:active {
    opacity: 0.5;
  }
}
@media screen and (min-width: 1440px) {
  .section-header {
    padding-top: 0%;
    padding-bottom: 0px;
  }

  .mobaile-menu__open-button {
    display: none;
    line-height: 0;
  }
  .header-nav {
    display: flex;
    align-items: center;
    gap: 175px;
  }
  .header-icon {
    width: 106px;
    height: 46px;
  }
  .header-menu-list {
    display: flex;
    gap: 32px;
  }
  .header-menu-item {
    color: var(--color-scheme-2-text);
    transition: color var(--transition-base), opacity var(--transition-base);
  }
  .header-menu-link {
    display: block;
    padding: 23px 0;
    font: var(--text-regular-normal);
  }
  .header-contacts {
    display: block;
  }
  .header-contacts-list {
    display: flex;
    gap: 16px;
  }
  .header-contacts-item {
    font: var(--text-regular-normal);
    font-style: normal;
    color: var(--color-scheme-2-text);
    transition: color var(--transition-base), opacity var(--transition-base);
  }
}
/* <!-- section-header --> */
