/* resets */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  /* line-height: 0; */
  /* display: block; */
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* base*/

:root {
  --color-body-bg: var(--color-emerald-lightest);
  --color-header-footer-bg: var(--color-emerald-light);

  --color-scheme-1-background: var(--color-emerald-lightest);
  --color-neutral-darkest: #030a06;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d9dad9;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b3b5b4;
  --color-neutral: #818482;
  --color-neutral-dark: #4e5350;
  --color-neutral-darker: #1c221e;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-emerald-lighter);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(3, 10, 6, 0.05);
  --opacity-neutral-darkest-10: rgba(3, 10, 6, 0.1);
  --opacity-neutral-darkest-15: rgba(3, 10, 6, 0.15);
  --opacity-neutral-darkest-20: rgba(3, 10, 6, 0.2);
  --opacity-neutral-darkest-30: rgba(3, 10, 6, 0.3);
  --opacity-neutral-darkest-40: rgba(3, 10, 6, 0.4);
  --opacity-neutral-darkest-50: rgba(3, 10, 6, 0.5);
  --opacity-neutral-darkest-60: rgba(3, 10, 6, 0.6);
  --color-emerald-lightest: #ebf8ed;
  --color-emerald-lighter: #d7f2db;
  --color-emerald-light: #75d281;
  --color-emerald: #3ac04c;
  --color-emerald-dark: #2e993c;
  --color-emerald-darker: #174c1e;
  --color-emerald-darkest: #113916;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-emerald-light);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-emerald);
  --color-scheme-3-text: var(--color-neutral-darkest);
  --color-scheme-3-background: var(--color-white);
  --color-scheme-3-border: var(--opacity-neutral-darkest-15);
  --color-scheme-3-accent: var(--color-neutral-darkest);
  --color-scheme-3-foreground: var(--color-neutral-lightest);
  --color-error-red: #d64040;
}

/* Typography from mockup */
:root {
  /* main */
  --text-regular-normal: 400 16px / 1.6 'Fira Sans', sans-serif;
  --text-regular-semi-bold: 600 16px / 1.6 'Fira Sans', sans-serif;
  --text-medium-normal: 400 18px / 1.6 'Fira Sans', sans-serif;
  --text-medium-semi-bold: 600 18px / 1.6 'Fira Sans', sans-serif;
  --text-small-normal: 400 14px / 1.6 'Fira Sans', sans-serif;
  --text-large-semi-bold: 600 20px / 1.6 'Fira Sans', sans-serif;
  /* 2nd */
  --heading-desktop-h1: 700 56px / 1.2 'Comfortaa', sans-serif;
  --heading-desktop-h2: 700 48px / 1.2 'Comfortaa', sans-serif;
  --heading-desktop-h4: 700 32px / 1.4 'Comfortaa', sans-serif;
  --heading-mobile-h1: 700 40px / 1.2 'Comfortaa', sans-serif;
  --heading-mobile-h2: 700 36px / 1.2 'Comfortaa', sans-serif;
  --heading-mobile-h4: 700 24px / 1.4 'Comfortaa', sans-serif;
  --heading-desktop-h6: 700 20px / 1.4 'Comfortaa', sans-serif;

  --heading-desktop-tagline: 600 16px / 1.5 'Fira Sans', sans-serif;
}

/* Typography by element [--text-section-element-device]*/
:root {
  --text-header-menu-all: var(--text-regular-normal);
  --text-button-all: var(--text-regular-normal);
  --text-hero-h1-desktop: var(--heading-desktop-h1);
  --text-hero-h1-mobile-tab: var(--heading-mobile-h1);
  --text-hero-normal-tab-desktop: var(--text-medium-normal);
  --text-hero-normal-mobile: var(--text-regular-normal);

  --text-about-tagline-all: var(--heading-desktop-tagline);
  --text-about-heading-desktop: var(--heading-desktop-h1);
  --text-about-heading-mobile-tab: var(--heading-mobile-h2);
  --text-about-normal-tab-desktop: var(--text-medium-normal);
  --text-about-normal-mobile: var(--text-regular-normal);

  --text-advantages-tagline-all: var(--heading-desktop-tagline);
  --text-advangages-heading-desktop: var(--heading-desktop-h2);
  --text-advangages-heading-mobile-tab: var(--heading-mobile-h2);
  --text-advantages-normal-tab-desktop: var(--text-medium-normal);
  --text-advantages-normal-mobile: var(--text-regular-normal);
  --text-advantages-subheading-mobile-tab: var(--heading-mobile-h4);
  --text-advantages-subheading-desktop: var(--heading-desktop-h4);
  --text-advantages-normal-all: var(--text-regular-normal);
  --text-assortment-heading-mobile-tab: var(--heading-mobile-h2);
  --text-assortment-heading-desktop: var(--heading-desktop-h2);
  --text-assortment-name-all: var(--text-medium-semi-bold);
  --text-assortment-normal-all: var(--text-small-normal);
  --text-assortment-price-all: var(--text-large-semi-bold);

  --text-gallery-heading-mobile-tab: var(--heading-mobile-h2);
  --text-gallery-heading-desktop: var(--heading-desktop-h2);
  --text-gallery-normal-all: var(--text-medium-normal);

  --text-feedbacks-heading-mobile-tab: var(--heading-mobile-h2);
  --text-feedbacks-heading-desktop: var(--heading-desktop-h2);
  --text-feedbacks-normal-all: var(--heading-desktop-h6);
  --text-feedbacks-name-all: var(--text-regular-semi-bold);

  --text-support-heading-tab-mobile: var(--heading-mobile-h2);
  --text-support-heading-desktop: var(--heading-desktop-h2);
  --text-support-normal-all: var(--text-medium-normal);
  --text-support-form-label-all: var(--text-regular-normal);
  --text-support-form-placeholder-all: var(--text-regular-normal);

  --text-footer-menu-items-all: var(--text-regular-normal);
  --text-footer-contacs-all: var(--text-regular-normal);
  --text-footer-copyright-all: var(--text-small-normal);
}

/* Basic transition */
:root {
  --transition-base: 250ms ease;
}

/* Old variables */
:root {
  /* Typography */
  --font-family: 'Fira Sans', sans-serif;
  --second-family: 'Comfortaa', sans-serif;
}
body {
  font-family: var(--font-family);
  background: var(--color-scheme-1-background);
}
/* container  */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
/* HERO STYLES */
/* mob */
/* @media screen {
} */
.hero-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero-container {
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.hero-buynow-title {
  position: relative;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-scheme-2-text);
  margin-bottom: 20px;
}
.hero-buynow-title::after {
  content: '.';
  position: absolute;
  right: 96px;
  bottom: 1px;
}
.hero-buynow-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-2-text);
  margin-bottom: 24px;
}
.hero-buy-button {
  display: block;
  border: 1px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 12px 24px;
  width: 288px;
  height: 50px;
  background: var(--color-neutral-darkest);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  color: var(--color-white);
  margin-bottom: 24px;
  transition: border-color var(--transition-base), color var(--transition-base),
    background var(--transition-base);
}
.hero-buy-button:hover,
.hero-buy-button:focus {
  opacity: 0.5;
}
.hero-buy-button:active {
  border-color: var(--color-emerald-darkest);
  background: var(--color-emerald-darkest);
  color: var(--color-white);
  opacity: 0.6;
}
.hero-image-wrapper {
  justify-self: center;
}
.hero-image {
  border-radius: 40px;
}
/* tab */
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 32px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-container {
    display: flex;
    /* gap: 24px; */
  }
  .hero-buynow-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .hero-buynow-title {
    width: 340px;
  }
  .hero-buynow-title::after {
    content: '';
  }

  .hero-buynow {
    width: 340px;

    display: flex;
    flex-direction: column;
  }
  .hero-buynow-text {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .hero-buy-button {
    padding: 12px 24px;
    /* 148>150 */
    width: 148px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    line-height: 1.6;
  }
  .hero-image {
    display: block;
  }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .hero-buynow-title {
    width: 640px;
    font-size: 56px;
  }
  .hero-buynow {
    width: 640px;
  }
}
/* <!-- section support --> */
@media screen {
  .section-support {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .container {
  }

  .support-title {
    font: var(--heading-mobile-h2);
    margin-bottom: 24px;
  }
  .support-text {
    font: var(--text-medium-normal);
    margin-bottom: 32px;
  }

  .support-form-wrapper {
  }
  .support-form {
    margin-bottom: 24px;
  }
  .support-form-group,
  .support-form-group-textarea {
    margin-bottom: 24px;
    position: relative;
  }
  .support-form-label {
    font: var(--text-regular-normal);
    color: var(--color-scheme-1-text);
    margin-bottom: 8px;
    display: block;
  }
  .support-input {
    width: 100%;
    outline: transparent;
    border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 6px;
    padding: 8px 12px;
    font: var(--text-regular-normal);
    background: var(--color-scheme-1-background);
  }
  .support-input:focus::placeholder,
  .support-input:not(:placeholder-shown)::placeholder {
    color: transparent;
  }
  .text-invalid {
    position: absolute;
    color: var(--color-error-red);
    font-size: 12px;
    line-height: 1.6;
    display: none;
  }

  .support-input:not(:placeholder-shown):invalid,
  .support-textarea:not(:placeholder-shown):invalid {
    border-color: var(--color-error-red);
    color: var(--color-error-red);
  }
  .support-textarea:not(:placeholder-shown):invalid ~ .text-invalid {
    border-color: var(--color-error-red);

    display: block;
  }
  .support-input:not(:placeholder-shown):invalid ~ .text-invalid {
    display: block;
  }

  .support-textarea {
    width: 100%;
    height: 180px;
    resize: none;
    outline: transparent;
    font: var(--text-regular-normal);
    border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 6px;
    padding: 12px;
    background: var(--color-scheme-1-background);
  }
  .support-input::placeholder,
  textarea::placeholder {
    color: var(--opacity-neutral-darkest-60);
    font: var(--text-regular-normal);
  }
  .support-textarea:focus::placeholder,
  .support-textarea:not(:placeholder-shown)::placeholder {
    color: transparent;
  }
  .support-submit-button {
    border: 1px solid var(--color-neutral-darkest);
    border-radius: 6px;
    padding: 12px 24px;
    width: 288px;
    height: 50px;
    background: var(--color-neutral-darkest);
    font: var(--text-regular-normal);
    color: var(--color-white);

    transition: border-color var(--transition-base),
      color var(--transition-base), background var(--transition-base);
  }

  .support-submit-button:hover,
  .support-submit-button:focus {
    background: var(--color-emerald-darkest);
    opacity: 0.6;
    border: 1px solid var(--color-emerald-darkest);
  }

  .support-img-wrapper-item {
    border-radius: 40px;
  }
}
@media screen and (min-width: 768px) {
  .section-support {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .container {
  }
  .support-form-wrapper {
  }
  .support-title {
    width: 468px;
  }
  .support-text {
  }
  .support-form {
  }
  .support-form-group {
  }
  .support-form-label {
  }
  .support-input {
  }
  .support-form-group-textarea {
  }
  .support-textarea {
  }
  .support-submit-button {
    width: 249px;
  }
  .support-img-wrapper {
  }
  .support-img-wrapper-item {
  }
}
@media screen and (min-width: 1440px) {
  .section-support {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .container-support {
    display: flex;
    gap: 24px;
  }
  .support-form-wrapper {
    width: 644px;
  }
  .support-title {
    font: var(--heading-desktop-h2);
    letter-spacing: 0.01em;
    width: 644px;
  }
  .support-text {
  }
  .support-form {
  }
  .support-form-group {
  }
  .support-form-label {
  }
  .support-input {
  }
  .support-form-group-textarea {
  }
  .support-textarea {
  }
  .support-submit-button {
    width: 198px;
  }
  .support-img-wrapper {
  }
  .support-img-wrapper-item {
  }
}
/* <!-- section support --> */
/* foooter */

.footer {
  padding-top: 48px;
  padding-bottom: 64px;
  background: var(--color-scheme-2-background);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.container-footer {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center; */
}

.footer-logo {
  margin-bottom: 48px;
  justify-self: center;
}
.footer-logo-link {
  display: block;
  line-height: 0;
}
.footer-icon > use {
  width: 280px;
  height: 121px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
.footer-menu-item {
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-2-text);
}
.footer-menu-link {
}
.footer-social-block-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 48px;
}
.footer-social-block-item {
}
.footer-social-block-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-block-icon {
  fill: #030a06;
}
.footer-contacts {
}
.footer-contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  text-align: center;
  margin-bottom: 24px;
}
.footer-contacts-item {
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
  color: var(--color-scheme-2-text);
}
.footer-contacts-link {
}
.footer-text {
  justify-self: center;
  font: var(--text-small-normal);
}
.footer-divider {
  border: 1px solid var(--color-scheme-2-border);
  margin-bottom: 24px;
  width: 280px;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 64px;
  }
  .footer-logo {
    margin-bottom: 32px;
  }
  .footer-icon {
    width: 164px;
    height: 70px;
  }
  .footer-menu-list {
    flex-direction: row;
    justify-content: center;
  }
  .footer-social-block-icon {
    width: 40px;
    height: 40px;
  }
  .footer-social-block-list {
    margin-bottom: 24px;
  }
  .footer-divider {
    width: 704px;
    margin-bottom: 16px;
  }
  .footer-contacts-list {
    margin-bottom: 16px;
  }
  .footer-contacts-list {
    flex-direction: row;

    gap: 32px;

    margin-bottom: 16px;
  }
  .footer-text {
    font: var(--text-small-normal);
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .container-footer {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */
  }
  .footer-wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
  }
  .footer-logo {
    margin-bottom: 0;
  }
  .footer-menu-list {
    margin-bottom: 0;
  }
  .footer-social-block-list {
    margin-bottom: 0;
  }
  .footer-social-block-icon {
    height: 24px;
    width: 24px;
  }
  .footer-divider {
    width: 1312px;
  }
}

/* galery */

/* Размеры картинок */
.small-img {
  height: 300px;
  max-width: 300px;
}

.big-img {
  height: 700px;
  max-width: 300px;
}

.gallery-list {
  display: grid;
  gap: 16px;

  grid-template-columns: 1fr;
  grid-template-rows: 4fr;

  justify-self: center;
}
.gallery-item {
  object-fit: cover;
}
.gallery-list li:nth-child(2) {
  grid-column: 1;
  grid-row: 3;
}
.gallery-list li:nth-child(3) {
  grid-column: 1;
  grid-row: 4;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 24px 26px;
  }
  .gallery-list li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .gallery-list li:nth-child(2) {
    grid-column: 2;
    grid-row: span 2;
  }
  .gallery-list li:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }
  .gallery-list li:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
  }
}
@media screen and (min-width: 1440px) {
  .gallery-list {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .gallery-list li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .gallery-list li:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
  }
  .gallery-list li:nth-child(3) {
    grid-column: 3;
    grid-row: span 2;
  }
}
